body{
    margin: 0px;
    padding: 0px;
}
.navigation{
    display: flex;
    background-color:#b3b3b3;
    height: 100px;
}
.logo{
    width: 90px;
    height: 70px;
    position: relative;
    top:12px;
    left: 10px;
}
.heading{
    color: #615338;
    font-weight: bold;
    font-size: 29px;
    position: relative;
    left: 320px;
}
.btn{
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    border: none;
    background-color: #8c7851;
    font-size: 16px;
    padding:5px;
}
.home{
    position: relative;
    top:30px;
    left: 540px;
    width: 65px;
    height: 30px;
}
.about{
    position: relative;
    top:30px;
    left: 560px;
    width: 90px;
    height: 30px;
}
.contact{
    position: relative;
    top:30px;
    left: 580px;
    width: 105px;
    height: 30px;
}
button:hover{
    box-shadow: 0px 0px 10px black;
    cursor: pointer;
}

.container1{
    display: flex;
}
.details{
    position: relative;
    left: 45px;
    top: 50px;
    width: 390px;
    font-family: cursive;
    font-size: 18px;
    text-align:justify;
}
.pet-shop{
    position: relative;
    top: 35px;
    width: 700px;
    height: 300px;
    left: 150px;
}

.type{
    position: relative;
    margin-left: 20px;
    top: 60px;
    font-size: 30px;
    font-weight: bold;
    color:#615338;
}
.cat-type{
    position: relative;
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
    top: 30px;
    color: #8c7851;
}
.container2{
    display: flex;
    flex-wrap: wrap;
    background-color:#b3b3b3;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    justify-content: space-around;
}
.categories{
    background-color: white;
    margin-top: 30px;
    width: 240px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.product-img{
    width: 160px;
    height: 140px;
    margin-left: 40px;
    margin-top: 30px;
    box-shadow: 0px 0px 15px black;
    border-radius: 20px;
}
.product-name{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
.description{
    text-align: center;
    font-size: 17px;
}
.price{
    text-align: center;
    font-size: 17px;
}
.buy{
    width: 90px;
    height: 30px;
    text-align: center;
    margin-left: 80px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #8c7851;
    color:white;
    margin-bottom: 15px;
}

footer{
    background-color:#b3b3b3;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.about-us{
    margin-left: 20px;
    width: 550px;
}
.about1{
    position: relative;
    top: 10px;
    left: 15px;
    color: #615338;
    font-size: 25px;
    font-weight: bold;
    font-family: cursive;

}
.info{
    position: relative;
    font-size: 17px;
    font-family: cursive;
}
.contact-us{
    width: 300px;

}
.contact1{
    margin-left: 30px;
    position: relative;
    top: 10px;
    color: #615338;
    font-size: 25px;
    font-weight: bold;
    font-family: cursive;
}
.contact-info{
    margin-left: 40px;
    font-size: 17px;
    font-family: cursive;
}
.map{
    width: 200px;
    margin-top: 14px;
    margin-left: 60px;

}
